<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_HEALTH" />
    <uses-permission android:name="android.permission.HIGH_SAMPLING_RATE_SENSORS" />

    <application>
        <activity
            android:name=".common.SahhaSensorPermissionActivity"
            android:exported="false"
            android:label="@string/title_activity_sahha_permission"
            android:theme="@style/Theme.AppCompat.Transparent.NoActionBar" />

        <activity
            android:name=".common.SahhaSensorStatusActivity"
            android:exported="false"
            android:label="@string/title_activity_sahha_permission"
            android:theme="@style/Theme.AppCompat.Transparent.NoActionBar" />

        <service
            android:name=".data.service.DataCollectionService"
            android:exported="false" />

        <receiver
            android:name=".data.receiver.SleepReceiver"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.ACTIVITY_RECOGNITION" />

        <receiver
            android:name=".data.receiver.AutoStartReceiver"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".data.receiver.TimeZoneChangedReceiver"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>